name: Toolbox release CI
on:
  push:
    tags: # 当我们提交代码为tag 是以'v'开头的时候才会触发自动部署到服务端 如 git push tag v0.1.0
      - 'v*'
jobs:
  lint:
    strategy:
      matrix:
        platform: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      # 下载源码
      - name: Checkout code
        uses: actions/checkout@v2
      # 打包构建 java
      - name: Build Java
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
      - run: cd java && mvn clean install
      - run: tar -zcvf release-java.tgz release/java
      # 打包构建 go
      - name: Build Go Linux
        uses: actions/setup-go@v2
        with:
          go-version: '^1.15'
      - run: cd go && export GOARCH=amd64 && export GOOS=linux && go build
      - run: mkdir release/go-linux
      - run: cp -rf go/config.toml release/go-linux/ && cp -rf go/toolbox release/go-linux/
      - run: tar -zcvf release-go-linux.tgz release/go-linux
      # 打包构建 window
      - name: Build Go Window
        uses: actions/setup-go@v2
        with:
          go-version: '^1.15'
      - run: cd go && export GOARCH=x64 && export GOOS=window && go build
      - run: mkdir release/go-window
      - run: cp -rf go/config.toml release/go-window/ && cp -rf go/toolbox release/go-window/
      - run: tar -zcvf release-go-window.tgz release/go-window
      # 发布
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }} # (tag)标签名称
          release_name: Release ${{ github.ref }}
          draft: false # 是否是草稿
          prerelease: false # 是否是预发布
      # 上传构建结果到 Release（把打包的tgz上传到Release）
      - name: Upload Java Release Asset
        id: upload-java-release-asset
        uses: actions/upload-release-asset@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # 上传地址，通过创建Release获取到的
          asset_path: ./release-java.tgz # 要上传文件
          asset_name: release-java.tgz # 上传后的文件名
          asset_content_type: application/x-tgz
      - name: Upload Go linux Release Asset
        id: upload-go-linux-release-asset
        uses: actions/upload-release-asset@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # 上传地址，通过创建Release获取到的
          asset_path: ./release-go-linux.tgz # 要上传文件
          asset_name: release-go-linux.tgz # 上传后的文件名
          asset_content_type: application/x-tgz
      - name: Upload Go Window Release Asset
        id: upload-go-window-release-asset
        uses: actions/upload-release-asset@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # 上传地址，通过创建Release获取到的
          asset_path: ./release-go-window.tgz # 要上传文件
          asset_name: release-go-window.tgz # 上传后的文件名
          asset_content_type: application/x-tgz

